*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    position: relative;
    background: linear-gradient(68.15deg,#ffffff 16.62%,#ce78d9 85.71%)
}

nav{
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    backdrop-filter: brightness(100%);
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .links a{
    width: 140px;
    height: 50px;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #6c14af;
    text-shadow: 1px 1px #aa35ce ;
}

section{
    width: 100%;
    height: 100vh;
}

section .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-content h1{
    font-size: clamp(2rem, 1rem + 5vw, 6rem);
}

.main-content span{
    font-size: clamp(2rem, 1rem + 5vw, 6rem);
    font-weight: 700;
    color: #aa35ce;
}

.text h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: clamp(2rem, 1rem + 5vw, 6rem);
    font-weight: 700;
    color: #aa35ce;

}

.text h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}


.card div {
    margin: 10%;
    display: flex;
    flex-direction:row 3px 3px;
    flex-direction: column 30px 30px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 80%;
    text-decoration: none;
  }
  .card h1 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: .9rem;
    color: #aaaa;
  }
  .card button {
    background-color: #8e3ab6;
    height: 30px;
    border: none;
    padding: 4px;
    width: 15%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
  }
  .card button:hover {
    background-color: #c972ff;
    cursor: pointer;
    text-decoration: none;
  }
   .card button a{
    text-decoration: none;
    color: #ffffff;
   }

  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
    text-decoration: none;
  }


@media (max-width:768px){
    .links{
        display: none;
    }
}

